/* @media screen and (min-width: 900px) {
  .container {
    max-width: 800px;
  }
} */

@media screen and (min-width: 1100px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* PRICING */
  .pricing {
    margin-bottom: 150px;
  }

  .pricing-sub-title {
    margin-bottom: 32px;
  }

  .pricing-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .pricing-desc {
    margin-bottom: 49px;
  }

  /* ENTERPRICE */

  .enterprise {
    padding-top: 52px;
    padding-bottom: 147px;
  }

  .enterprise-subtitle {
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .enterprise-title {
    margin-bottom: 8px;
    line-height: 1.6;
  }

  .enterprise-desc {
    max-width: 100%;
  }

  /* PRODUCT */

  .product-title {
    font-size: 34px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 56px;
    line-height: 1.5;
  }

  .product-content {
    flex-direction: row;
    gap: 60px;
  }

  .product-img-mob {
    display: none;
  }

  .product-img-desk {
    display: block;
    max-width: 528px;
  }

  .product-list {
    max-width: 543px;
    margin: 0 auto;
    gap: 32px;
  }

  /* QUESTION */

  .question-title {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  .question-desc {
    line-height: 1.5;
    margin-bottom: 50px;
  }

  .question-item {
    padding-bottom: 22px;
  }

  .open {
    margin-top: 14px;
  }
}
