@media screen and (min-width: 1100px) {
  .container {
    max-width: 1140px;
  }

  /* CLIENTS */
  .clients {
    padding-top: 100px;
    padding-bottom: 117px;
  }

  .clients-title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .clients-list {
    gap: 64px;
    align-items: center;
  }
  .clients-item {
    flex-basis: calc((100% - 64px * 3) / 4);
  }

  /* CHOOSE */

  .choose {
    padding-top: 24px;
    padding-bottom: 68px;
  }

  .choose-list {
    flex-direction: row;
    gap: 30px;
  }

  .choose-item {
    flex-basis: calc((100% - 30px * 2) / 3);
  }

  /* WORK */

  .work {
    padding-top: 101px;
    padding-bottom: 115px;
  }

  .work-list {
    gap: 100px;
    margin-bottom: 77px;
  }

  .work-item {
    display: flex;
    align-items: center;
    gap: 89px;
  }

  .work-item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .work-img {
    width: 500px;
    margin-bottom: 0;
  }

  .work-desc {
    max-width: 438px;
  }

  .work-btn {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 11px 18px;
  }

  /* PROOF */

  .proof {
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .proof-title {
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 93px;
  }

  .proof-list {
    justify-content: space-between;
    flex-direction: row;
    max-width: 723px;
    margin: 0 auto;
  }
}
